
{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Блог{% endblock %}

{% block content %}
<section class="blog-list">
    <h1>Блог</h1>
    <div class="posts">
        {% for post in posts %}
            <div class="post-item">
                <a href="{{ post.get_absolute_url }}">
                    {% if post.image %}
                        {% thumbnail post.image "blog_thumbnail" as im %}
                            <img src="{{ im.url }}" alt="{{ post.title }}" class="post-image" loading="lazy">
                    {% endif %}
                    <h2>{{ post.title }}</h2>
                    <p class="post-meta">Опубликовано {{ post.created|date:"d M Y" }} автором {{ post.author }}</p>
                    <p>{{ post.content|truncatewords:30 }}</p>
                </a>
            </div>
        {% empty %}
            <p>В блоге пока нет постов.</p>
        {% endfor %}
    </div>

    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}" class="pagination-button">Предыдущие</a>
            {% endif %}

            <span class="current">
                Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}" class="pagination-button">Следующие</a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock %}