{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Об авторе{% endblock %}

{% block content %}
<section class="about-author">
    <div class="author-photo">
        <img src="{% static 'img/author.png' %}" alt="Фото автора">
    </div>
    <div class="author-info">
        <h1>Марина Липатова</h1>
        <p>«Не делаю мир лучше, он и без меня прекрасен. Мой стиль работы — импрессионизм. Он близок мне: через него я раскрываюсь как эстет, как наблюдатель.</p>
        <p>Впечатляюсь моментом и переношу его на холст, перемешивая с краской своё настроение, мысли и чуточку души.</p>
        <p>Мои картины вписаны в интерьеры домов в разных частях земли, это греет и здорово вдохновляет на новые работы.</p>
        <p>Хочется расти, учиться у лучших, бесконечно экспериментировать и заявлять о себе миру.</p>
        <p>Гармоничные и спокойные темы и цвета — мой намеренный выбор. Они не будоражат сознание, наоборот, умиротворяют и дарят тёплую энергию пространства дома.</p>
        <p>Самое приятное для меня — писать на заказ. Поймать настроение человека, стиль его образа, стиль жизни и пробовать воплощать. Обожаю дарить свои работы друзьям, к моему счастью, ни одна из них не пылится за шкафом.</p>
        <p>Удивлять, иногда восхищать, вызывать радость своими работами — это моя любовь навсегда.»</p>
    </div>
</section>

<section class="additional-info">
    <div class="exhibitions">
        <h2>Список выставок</h2>
        <ul>
            <li>АПРЕЛЬ 2023 ВЫСТАВКА СОЮЗА ХУДОЖНИКОВ СООООХ «ТСХ»
СМЕШНОЙ АПРЕЛЬ</li>
            <li>ИЮНЬ 2024 ВЫСТАВКА СОЮЗА ХУДОЖНИКОВ СООООХ «ТСХ»
ТЕПЛАЯ</li>
            <li>ИЮЛЬ 2024 ВЫСТАВКА СОЮЗА ХУДОЖНИКОВ СООООХ «ТСХ»
РАЙСКИЙ ОСТРОВ, МОЯ МЕЧТА</li>
            <li>АВГУСТ 2024 ВЫСТАВКА СТУДИИ «ТВОРЧЕСТВО»
КОНТРАСТЫ</li>
            <li>ЯНВАРЬ 2025 ВЫСТАВКА СТУДИИ «ТВОРЧЕСТВО»
ЗИМНЯЯ СКАЗКА</li>
            <li>МАРТ 2025 ЯРМАРКА ВЫСТАВКА ДОМ АРХИТЕКТОРА САМАРА</li>
            <li>АПРЕЛЬ 2025 ВЫСТАВКА ЖЕНСКИЙ ВЗГЛЯД ДОМ АРХИТЕКТОРА САМАРАА</li>
        </ul>
    </div>
    <div class="videos">

        <div class="video-item">
            <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/l7zc-KpKFmw?si=h_12N0dbCw2o-v7p" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>Творческий Союз Художников России</p>
        </div>

        <div class="video-item">
            <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/pA-KSqS9QYU?si=udPlFlWDr8ru_H3D" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>выставка Контрасты</p>
        </div>

        <div class="video-item">
            <div class="iframe-wrapper">
                <iframe src="https://m.dzen.ru/embed/vkR82No4ck2s?from_block=partner&from=zen&mute=0&autoplay=0&tv=0" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>Обзор выставки Райский остров моя мечта</p>
        </div>


<!--        <div class="video-item">-->
<!--            <video controls loading="lazy">-->
<!--                <source src="{{ MEDIA_URL }}videos/count_guberniya_contrasts_format_mini.mp4" type="video/mp4">-->
<!--                Ваш браузер не поддерживает тег video.-->
<!--            </video>-->
<!--            <p>выставка Контрасты</p>-->
<!--        </div>-->

    </div>
</section>
{% endblock %}
