{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Об авторе{% endblock %}

{% block content %}
<section class="about-author">
    <div class="author-photo">
        <img src="{% static 'img/author.png' %}" alt="Фото автора">
    </div>
    <div class="author-info">
        <h1>Марина Липатова</h1>
        <p>«Не делаю мир лучше, он и без меня прекрасен. Мой стиль работы — импрессионизм. Он близок мне: через него я раскрываюсь как эстет, как наблюдатель.</p>
        <p>Впечатляюсь моментом и переношу его на холст, перемешивая с краской своё настроение, мысли и чуточку души.</p>
        <p>Мои картины вписаны в интерьеры домов в разных частях земли, это греет и здорово вдохновляет на новые работы.</p>
        <p>Хочется расти, учиться у лучших, бесконечно экспериментировать и заявлять о себе миру.</p>
        <p>Гармоничные и спокойные темы и цвета — мой намеренный выбор. Они не будоражат сознание, наоборот, умиротворяют и дарят тёплую энергию пространства дома.</p>
        <p>Самое приятное для меня — писать на заказ. Поймать настроение человека, стиль его образа, стиль жизни и пробовать воплощать. Обожаю дарить свои работы друзьям, к моему счастью, ни одна из них не пылится за шкафом.</p>
        <p>Удивлять, иногда восхищать, вызывать радость своими работами — это моя любовь навсегда.»</p>
    </div>
</section>

<section class="additional-info">
  <div class="exhibitions">
    <h2>Список выставок</h2>
    <ul>
      {% for ex in exhibitions %}
        <li>
          {{ ex.date|date:"F Y" }} Выставка "{{ ex.title }}", {{ ex.venue }}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="videos">
    {% for vid in videos %}
      <div class="video-item">
        <div class="iframe-wrapper">
          {# если это YouTube/Vimeo, то iframe #}
          <iframe
            src="{{ vid.embed_url }}"
            allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
            frameborder="0"
            allowfullscreen>
          </iframe>
        </div>
        {% if vid.caption %}
          <p>{{ vid.caption }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
