{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Свободная работа{% endblock %}

{% block content %}
<section class="painting-detail">
    <div class="painting-detail-link">
        <a href="{% url 'artworks:free_works' %}">< свободные работы</a>
    </div>
    <div class="painting-container">
        <!-- Основное изображение -->
        <div class="painting-main">
            {% thumbnail painting.image "1200x1200" quality=100 as im %}
                 <a id="painting-main-link" href="{{ painting.image.url }}">
                    <img id="painting-main-img" src="{{ im.url }}" alt="{{ painting.title }}">
                </a>
        </div>

        <!-- Миниатюры и описание -->
        <div class="thumbnails-and-description">
            <!-- Миниатюры других картин -->
            <div class="painting-thumbnails">
                {% for extra in painting.extra_images.all %}
                    {% thumbnail extra.image "gallery" as im %}
                        <a href="{{ extra.image.url }}" class="thumbnail-link">
                            <img src="{{ im.url }}"
                                 data-full="{{ extra.image.url }}"
                                 alt="{{ painting.title }} ракурс {{ forloop.counter }}"
                                 class="thumbnail">
                        </a>
                {% empty %}
                    <p>Нет дополнительных фото.</p>
                {% endfor %}
            </div>

            <!-- Описание картины -->
            <div class="painting-description">
                <h2>{{ painting.title }}</h2>
                <p>{{ painting.description }}</p>
                <p>{{ painting.material }}, {{ painting.dimensions }}, {{ painting.get_creation_year }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/painting-detail.js' %}"></script>
{% endblock %}

