{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Свободная работа{% endblock %}

{% block content %}
<section class="painting-detail">
    <div class="painting-detail-link">
        <a href="{% url 'artworks:free_works' %}">< свободные работы</a>
    </div>
    <div class="painting-container">
        <!-- Основное изображение -->
        <div class="painting-main">
            {% thumbnail painting.image "1200x1200" quality=100 as im %}
                <a href="{{ painting.image.url }}">
                    <img src="{{ im.url }}" alt="{{ painting.title }}">
                </a>
        </div>

        <!-- Миниатюры и описание -->
        <div class="thumbnails-and-description">
            <!-- Миниатюры других картин -->
            <div class="painting-thumbnails">
                {% for other in other_paintings %}
                        <a href="{{ other.get_absolute_url }}">
                            {% thumbnail other.image "gallery" as im %}
                                <img src="{{ other.image.url }}" alt="{{ other.title }}" class="thumbnail">
                        </a>
                {% endfor %}
            </div>

            <!-- Описание картины -->
            <div class="painting-description">
                <h2>{{ painting.title }}</h2>
                <p>{{ painting.description }}</p>
                <p>{{ painting.material }}, {{ painting.dimensions }}, {{ painting.get_creation_year }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
