<!-- art_gallery/templates/artworks/gallery.html -->

{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Галерея{% endblock %}

{% block content %}
<section class="gallery">
    <div class="carousel-images">
        {% if page_obj.object_list %}
            {% for painting in page_obj.object_list %}
                <div class="carousel-item">
                    <a href="{{ painting.image.url }}">
                        {% thumbnail painting.image "gallery" as im %}
                            <img src="{{ im.url }}" alt="{{ painting.title }}" class="carousel-image" loading="lazy">
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>Картин нет.</p>
        {% endif %}
    </div>

    <!-- Навигация по страницам -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>

    <div class="cta">
        <a href="{% url 'artworks:free_works' %}" class="cta-button">смотреть свободные работы</a>
    </div>
</section>
{% endblock %}
