{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Галерея{% endblock %}

{% block content %}
<section class="gallery">
    <div class="carousel-images">
        {% if page_obj.object_list %}
            {% for painting in page_obj.object_list %}
                <div class="carousel-item">
                    {% thumbnail painting.image 'lightbox' as im_lightbox %}
                    {% thumbnail painting.image 'gallery' as im %}
                    <a href="#" class="gallery-image" data-index="{{ forloop.counter0 }}" data-full="{{ painting.image|thumbnail_url:'lightbox' }}">
                        <img src="{{ painting.image|thumbnail_url:'gallery' }}" alt="{{ painting.title }}" class="carousel-image" loading="lazy">
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>Картин нет.</p>
        {% endif %}
    </div>

    <!-- Включение шаблона пагинации -->
    {% include 'pagination/pagination.html' %}

    <div class="cta">
        <a href="{% url 'artworks:free_works' %}" class="cta-button">смотреть свободные работы</a>
    </div>
</section>
{% endblock %}
